header{
    background-image: url('../images/Bogartpets.jpg');
    background-size: cover;
    background-position: top;
    height: 80vh;
}

#serviceHeader{
    background-image: url(../images/serviceHeader2.jpg);
    background-size: cover;
    background-position: center;
}

.bg-teal{
    background-color: rgb(47, 183, 183);
}

.nav-link{
    color:black !important;
    font-weight: 600;
}

.navbar-brand{
    color: rgb(202, 244, 255) !important;
    font-weight: 700;
}

footer a:link{
    color: rgb(156, 231, 234)
}

footer a:hover{
    color: rgb(0, 117, 172);
}